.btn {
    background-color: #064082;
    color: white;
    border: 0;
    padding: 8px 16px;
}

.btn--circle {
    border-radius: 50%;
    font-weight: bold;
    padding: 0;
    width: 60px;
    height: 60px;
}

.btn--disabled {
    background-color: lightgray;
}

.loading-indicator {
    color: white;
    background-color: #064082;
    font-weight: bold;
    opacity: 0.9;
    padding: 18px;
    display: inline-block;
    position: fixed;
    font-size: 20px;
    left: 50%;
    top: 40%;
    width: 80%;
    text-align: center;
    transform: translateX(-50%);
}
