.todo-keyword {
    font-weight: bold;
    margin-right: 5px;
}

.todo-keyword--todo {
    color: red;
}

.todo-keyword--done {
    color: green;
}

.todo-keyword--none {
    color: lightgray;
}

.org-header-list {
    font-family: Courier;
    padding-left: 20px;
    margin-top: 30px;
}

.title-line {
    display: flex;
    justify-content: space-between;
    margin-top: -18px;
}

.header-text {
    display: flex;
    width: 90%;
}

.edit-icon {
    flex: 0 0 40px;
}
