.todo-keyword {
    font-weight: bold;
    margin-right: 5px;
}

.todo-keyword--todo {
    color: red;
}

.todo-keyword--done {
    color: green;
}

.todo-keyword--none {
    color: lightgray;
}

.org-header-list {
    font-family: Courier;
    margin-top: 30px;
}

.title-line {
    margin-top: -18px;
}

.header-text {
    display: flex;
}

.drawer-container {
    width: 9%;
    text-align: center;
}

.edit-icon {
    flex: 0 0 40px;
}

.nice-scroll {
    -webkit-overflow-scrolling: touch;
}

.textarea {
    width: 95%;
}
