.app-header {
    background-color: #064082;
    height: 30px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.app-header__title {
    color: white;
    margin: 0;
}

.logo {
    width: 45px;
}
